input
dataset
__pycache__
confidence_ratios.txt
7186 4182 6364 best.pth
resnet50danbooru.pth
llm/best_tag_transformer-2_7644.pth
llm/unique_prompts.csv
.vscode
danbooru_general_unique.csv
danbooru_general_unique_shuffled.csv
best_tag_transformer_new-6_8746
danbooru_general_unique_shuffled_cleaned_top_1000.csv
best_tag_transformer_new-6_1283